*.code-workspace
*.env
*.secret*
/tizen*
tdarrscript.sh
utils/fullbank.csv
utils/output.csv
utils/input.csv
utils/filter.txt
sg-hostlist.json
localonly_*
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*
*.log.*.*.*.*.*.*
localonly/